*{
     margin: 0;
     padding: 0;
 }
 body{
     background-color: yellow;
     position: relative;
     width: 100%;
     height: 100%;
 }
 .first{
     /* border: 2px solid black; */
     width: 100vw;
     height: 200px;
     background-color: white;
 }
 .item1{
     /* border: 2px solid black; */
     width: 400px;
     height: 500px;
     position: absolute;
     top: 90px;
     left: 250px;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYs5dh-80_d2Cx4mAjtIO0AMelzuVn40aNGA&usqp=CAU);
     background-size: 100% 100%;
 }
 .item2{
     /* border: 2px solid black; */
     width: 400px;
     height: 500px;
     position: absolute;
     top: 200px;
     left: 700px;
 }
 .text1{
     text-align: center;
     padding: 20px;
     font-size: 50px;
 }
 .text2{
     text-align: center;
     font-size: 20px;
     font-weight: bold;
 }
 .text3{
     text-align: center;
     padding-top: 20px;
     font-size: 15px;
     font-weight: bold;
 }
 .click{
     background-color: black;
     width: 170px;
     height: 20px;
     color: white;
     text-align: center;
     margin-left: 120px;
     margin-top: 20px;
 }
 @media only screen and (max-width: 600px) {
     .item2{
     top: 700px;
     left: 120px;
     }
     .item1{
     top: 90px;
     left: 120px;
     }
 }